transformers
transformers[sentencepiece]
datasets
sacrebleu
evaluate
rouge_score
py7zr
pandas
nltk
tqdm
pyYaml
matplotlib
plotly
torch
notebook
boto3
mypy-boto3-s3
python-box
ensure
fastapi
uvicorn
Jinja2

-e .